<div class="footer">
  <div class="social-icons-container">
    <a class="social-icons" href="https://twitter.com/onjoma" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="social-icons" href="https://www.linkedin.com/in/onjomapeter/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    <a class="social-icons" href="https://github.com/onjoma" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  </div>
  <p class="copyright">&copy; <span id="copyright-year"></span> onjomapeter.com</p>
</div>
